html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    background: var(--background-color);
    padding: 16px;
    margin: 0;
    
}

.main-heading {
    position: relative;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: var(--accent-color);

}

.share-thumb {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: space-between;
    margin-top: 37px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(56, 65, 93, 0.82);
    gap: 36px;

}

.share-thumb2{
    display: none;

}

.save__icon{
    width: 19px;
    height: 19px;
    
}

.share__icon{
    width: 19px;
    height: 19px;
    
}

.share-thumb::before{
    position: absolute;
    content: '';
    width: 500px;
    height: 1px;
    bottom: 45px;
    background: var(--accent-color);
    opacity: 0.13;
    left: 0;

    @media (min-width:415px) {
        width: 100%;

}
}

.share-elements__save {
    display: flex;
    justify-items: center;
    align-items: space-between;
    gap: 12px;

}

.share-elements__share{
    display: flex;
    justify-items: center;
    align-items: space-between;
    gap: 12px;
}

.share-elements__save--svg{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.share-elements__share--svg{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.primary-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: 0.413333px;
    color: var(--accent-color);
    margin-top: 32px;
}

.post-job-info {
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.9;
    letter-spacing: 0.191905px;
    color: rgba(56, 65, 93, 0.602109);
    
}

.salary-info{
    display: flex;
    justify-items: end;
    flex-direction: column;
    align-items: flex-end;
}

.aditional-info{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
    margin-top: 5px;
}

.salary{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.625px;
    color: var(--accent-color);
    margin-bottom: 14px;
}

.post-and-salary-info{
    display: flex;
    justify-content: space-between;
}

.secondary-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
    margin-bottom: 25px;
}

.physicians{
    margin-top: 25px;
}

.secondary-heading{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.625px;
    color: var(--accent-color);
    margin-top: 43px;
}

.list{
    list-style: square;
    margin-left: 20px;
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #384564;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    &:focus,
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.button-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--white-color);
}

.button-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.attached{
    margin-top: 153px;
}

.photos-thumb{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 133px;
    width: 100%;
    margin-top: 10px;
    margin-top: 30px;
}

.photos-thumb::before{
    position: absolute;
    content: '';
    width: 500px;
    height: 1px;
    bottom: 155px;
    background: var(--accent-color);
    opacity: 0.13;
    left: 0;
    bottom: 150px;

    @media (min-width:415px) {
            width: 100%;
        }
}

.photos-thumb__item{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.additional{
    margin-top: 55px;
}

.small-heding{
    position: relative;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
    margin-top: 26px;
}

.job-button{
    position: relative;
    display: flex;  
    justify-content: space-around;
    margin-top: 10px;    
}

.benefits::before{
    position: absolute;
    content: '';
    width: 500px;
    height: 1px;
    bottom: 155px;
    background: var(--accent-color);
    opacity: 0.13;
    left: 0;
    bottom: 145px;

    @media (min-width:415px) {
            width: 100%;
        }
}

.job-button__item{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    width: 122px; 
    height: 50px;
    background: var(--job-button-items-bgc);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

        &:focus,
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.benefits{
    margin-top: 22px;
}

.job-button__item--text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: -0.457143px;
    color: var(--current-color);
}

.job-button__second-row{
    width: 177px;
    height: 50px;
    background: var(--job-button-second-row-bgc);
    border: 1px solid var(--job-button-second-row-border);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

        &:focus,
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.job-button__second-row--text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0px;
    text-align: center;
    letter-spacing: -0.4px;
    color: var(--job-button-second-row-text);
    cursor: pointer;
}

.footer-thumb{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 372px;
    height: 436px;
    background: var(--footer-thumb-upper-background);
    border-radius: 8px;
    margin-top: 31px;
    align-items: flex-end;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.contacts {
    margin-top: 63px;
}

.for-footer-line::after {
    position: absolute;
    content: '';
    width: 500px;
    height: 1px;
    bottom: -10px;
    background: var(--accent-color);
    opacity: 0.13;
    left: 0px;

    @media (min-width:415px) {
            width: 100%;
        }
}

.for-footer-line{
    display: flex;
    position: relative;
}


.footer{
    display: flex;
    justify-content: center;
   
}

.footer-thumb__inner{
    display: flex;
    width: 372px;
    height: 218px;
    background-color: var(--white-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footer-thumb__upper{
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 218px;
    background: var(--footer-thumb-upper-background);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.footer-thumb__upper--heding{
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.23619px;
    color: var(--footer-thumb-upper-heding-color);
    margin-top: 31px;
}

.footer-thumb__upper--address{
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: var(--footer-thumb-upper-heding-color);
    margin-top: 17px;
    margin-left: 19px;
    gap: 8px;
}

.footer-thumb__upper--contacts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.669635);
    margin-top: 6px;
    margin-left: -40px;
}

.footer-thumb__upper--location{
    display: flex;
    width: 13px;
    height: 18px;
    margin-left: 12px;
}

.footer-thumb__upper--sreet{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: var(--footer-thumb-upper-heding-color);
    margin-left: -123px;
}


